# ── Neon (PostgreSQL Serverless) ──
DATABASE_URL=postgresql://user:password@host/database?sslmode=require

# ── Servidor ──
PORT=3001

# ── Auth ──
ADMIN_EMAIL=admin@gestaojaque.com.br
ADMIN_PASSWORD=senha123
JWT_SECRET=super_secret_jwt_key_here
